[Unit]
Description=Socket.IO support for Bobaos Datapoint Sdk Daemon

[Service]
ExecStart=/usr/bin/env node %h/bdsd-io/index.js
WorkingDirectory=%h/bdsd-io

[Install]
WantedBy=default.target
